NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mavhu_db
DB_USER=mavhu_admin
DB_PASSWORD=MAvHU123!
DB_SCHEMA=mavhu
DB_LOGGING=false

JWT_SECRET=change-this-to-a-long-random-secret-in-production
JWT_EXPIRES_IN=1d
